* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  font-size: 12px;

  --blue: #00acdc;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  text-transform: uppercase;
}

img {
  margin: 10px;
}

nav {
  height: 60px;
  text-align: center;
  align-items: center;
  align-content: center;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  align-content: center;
  margin: 10px;
}

a {
  text-decoration: none;
  color: #000;
  line-height: 100%;
}

a:hover {
  color: var(--blue);
}

a[data-qa='hover'] {
  color: var(--blue);
}

.is-active a {
  color: var(--blue);
}

.is-active {
  position: relative;
}

.is-active::after {
  position: absolute;
  content: '';
  width: auto;
  height: 4px;
  background-color: var(--blue);
  border-radius: 8px;
  bottom: -18.5px;
  left: 0;
  right: 0;
}
