:root {
  --blue: #00acdc;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  font-size: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  margin-left: 50px;
}

.nav {
  margin-right: 50px;
}

.nav__list {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0;
}

.nav__item {
  margin: 0 10px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__link {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;

  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header > .nav__link {
  line-height: 0;
}

.nav__link:hover {
  color: var(--blue);
}

.nav__link.is-active {
  color: var(--blue);
  position: relative;
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color: var(--blue);
  border-radius: 8px;
}
